.homepage h1 {	
	color: #aa0000;
	text-align: center;
	margin-bottom: 50px;
}

.homepage h1 a {
	color: #aa0000;
}

.team-yellow {
	color: #CCCC00;
	font-weight: bold;
}

.footer {
	  position: absolute;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 60px;
	  background-color: #f5f5f5;
}

img.hawk-logo {
	width: 300px;
}
