.messages-container {
	padding: 50px;
}

.message-view {
	
	height: 550px;
}

.message-form {
	position: absolute;
	top: 600px;
}

.upload {
	height: 100px;
}

ul.reports-sidebar {
	list-style:none;
	padding: 0;
}

ul.reports-sidebar li {
	padding: 30px;
	font-size: 36px;
}

.messages-sidebar {
	background: #f5f5f5;
}

.selected {
	background:#C2DFFF;
}

ul.chat {
	list-style: none;
}

.messages-sidebar {
	padding: 0;
}

.message {
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 20px; 
	margin-bottom: 10px;
	clear: both;
}

.student-message {
	margin-right: 100px;
	background-colo
}

.counselor-message {
	margin-left: 100px;
	text-align: right;
	background: #
}

.report-chat {
	display: none;
}