.messages-container {
	padding: 50px;
}

.message-view {
	
	height: 550px;
}

.message-form {
	position: absolute;
	top: 600px;
}

.upload {
	height: 100px;
}

ul.reports-sidebar {
	list-style:none;
}

ul.reports-sidebar li {
	padding: 30px;
	font-size: 36px;
}

.messages-sidebar {
	background: #f5f5f5;
}