

<!DOCTYPE html>
<html>
<head>
	<title>Hawkeye Report</title>
	<link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
</head>
<body>
	
  	<div class="col-md-4">
  		<div class="upload">
  			UPLOAD
  		</div>
  		<div class="archive">
  			<p>My messages</p>
  		</div>
		
	</div>

	<div class="col-md-8">
		<div class="messView">
			<p>
				Mesage 1, Message 2
			</p>
		</div>
		<form action="/api/submit-report" method="post">
		  <input  name="user_id" value="{{user_id}}">
		  <input  type="hidden" name="form_id" value="{{form_id}}">
		  <input name="report_text" value="desribe bullying">
		  <button>submit report</button>
		</form>
	</div>

</body>
</html>

