{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Login to report bullying</h2>
				</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label for="user-id">User ID:</label>
							<input type="text" id="user-id" class="form-control" placeholder="Your User ID" value="674"/>
						</div>
						<div class="form-group">
							<label for="password">Password:</label>
							<input type="password" class="form-control" id="password" value="*******" />
						</div>
						<a href="/students/home" class="btn btn-success btn-lg">Login</a>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}