{% extends "layout.html" %}
{% block content %}
<h3>Describe the bullying incident you witnessed</h3>
<div class="well">
	<form class="message-form " action="/api/submit-report" method="post">
	      <input  type="hidden" name="user_id" value="{{user_id}}"><br />
	      <input  type="hidden" name="report_id" value="{{form_id}}">
	      <textarea name="report_text" class="message-report" placeholder="I witnessed..."></textarea><br />
	      <button class="btn btn-success"><i class="fa fa-envelope" aria-hidden="true"></i> submit</button>
	      <button class="btn btn-success"><i class="fa fa-camera" aria-hidden="true"></i> add picture</button>
	</form>
</div>
{% endblock %}