{% extends "layout.html" %}
{% block additional_head %}
    <link href="{{ url_for('static',filename='css/messages.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-3 messages-sidebar">
    <ul class="reports-sidebar">
    {% for report in reports -%}
       <li><a href="#" id="show-report-{{ report.user_id }}"> {{ report.user_id }}</li>
    {%- endfor %}
    </ul>
  </div>

  <div class="col-md-9">
  <ul>
  {% for report in reports -%}
      <li>{{ report.user_id }}</li>
      <ul>
        {% for message in report.report_messages -%}

          <li><b>{{message.sender}}:</b> {{message.text}}</li>

        {%- endfor %}
      </ul>
      <div class="reply">
        <form action="/api/submit-reply-counselor" method="post">
          <input type="hidden" name="user_name" placeholder="counselor">
          <input type="hidden" name="report_id" value="{{report.report_id}}">
          <input name="text" value="Your message...">
        <button class="btn btn-primary">submit reply</button>
        </form>
      </div>
  {% else %}
  No bully reports!
  {%- endfor %}
  </ul>
  </div>
</div>

{% endblock %}
