{% extends "layout.html" %}
{% block additional_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="{{ url_for('static',filename='css/messages.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-3 messages-sidebar">
    <ul class="reports-sidebar">
    {% for report in reports -%}
       <li><a href="#" class="show-report" id="show-report-{{ report.user_id }}"> {{ report.user_id }}</a></li>
    {%- endfor %}
    </ul>
  </div>

  <div class="col-md-9">
  {% for report in reports -%}
    <div id="report-{{ report.user_id }}" class="report-chat">
    <h3>{{ report.user_id }}</h3>
      <ul class="chat">
        {% for message in report.report_messages -%}
          {% if message.sender == "student" %}
          <li><div class="panel panel-default message student-message">
          {{message.sender}}:<br/>
          {{message.text}}
          </li>
          {% else %}
          <li><div class="panel panel-primary message counselor-message">
          {{message.sender}}:<br/>
          {{message.text}}
          </li>
          {% endif %}
        {%- endfor %}
      </ul>
      <div class="reply">
        <form action="/api/submit-reply-counselor" method="post">
          <input type="hidden" name="user_name" placeholder="counselor">
          <input type="hidden" name="report_id" value="{{report.report_id}}">
          <textarea name="text" class="form-control message-report" placeholder="What else do you remember?">
            
          </textarea>
          <br/>
          <div style="float: right;">
          <button class="btn btn-success">Submit Reply</button>
        </div>
        </form>
      </div>
    </div>
  {% else %}
  No bully reports!
  {%- endfor %}
  </ul>
  </div>
</div>

<script type="text/javascript">
 $("#report-627").show();
 $("#show-report-627").parent().addClass('selected');
  $(".show-report").click(function() {
    $('.show-report').parent().removeClass('selected');
    $(this).parent().addClass('selected');
    var thisId = $(this).attr('id').replace('show-report-', '');
    $('.report-chat').hide();
    $("#report-" + thisId).show();
  });
</script>
{% endblock %}

